*{
    padding: 0;
    margin: 0;
}

.container{
   height: 100vh;
    display: flex;
    flex-wrap: wrap;

}
.right{
    
    width: 75%;
    display: flex;
    flex-direction: column;
   
}
.left{
    
    width: 25%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;          /*by default it is content-box*/
    /* padding: 10px; */
    background-color: #4C495D;
    

    /* background-image: url('courseListimg.PNG');
    background-repeat: no-repeat;
    background-size: cover; */
    

}
.videoDiv{
    height:40vw;
    
    background-image: url('videoimg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    

    

}
.DescDiv{
    
    width: 100%;
    height: calc(100% - 40vw);
    /* border: 2px solid brown; */
    background-color: #2D2E36;

    /* background-image: url('descImg.PNG');
    background-repeat: no-repeat;
    background-size: contain; */
   

}


/* ------------------------------------------------------CSS for course---------------------------------------------------------------- */

/* .courses{
    
    height: 100%; 
    
} */
.courseDiv{
    height: auto;
    width: 100%;
    background-color: #2b2838;
    /* border: 1px solid black; */
    color: white;
    margin: 1px 0;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;
    align-items: center;*/
    padding: 0 5px;
    box-sizing: border-box;
}
.spaced {
    display: flex; /* Enables flexbox layout */
    font-size: 23px;
    justify-content: space-between; 
  }
  
 

.vidListDiv{
    height: auto;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
    

}
.plusClick{
    justify-self: right;
}

/* .courseDiv h2{
    align-self: center;
    justify-self: center;
} */












@media(max-width:1000px){
    .container{
        flex-direction: column-reverse;   
    }
    .right{
        height:60vw ;
        /* min-height: 35vh; */
        width: 100vw;
    }
    .DescDiv{
        display: none;
    }
    .videoDiv{
        height: 100%;       
    }
    .left{
        height: calc(100% - 60vw);
        width: 100vw;    
    }
}