*{
    padding: 0;
    margin: 0;
}

.container{
   height: 100vh;
    display: flex;
    flex-wrap: wrap;

}
.right{
    
    width: 75%;
    display: flex;
    flex-direction: column;
   
}
.left{
    
    width: 25%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;          /*by default it is content-box*/
    padding: 10px;
    background-color: green;
    

    /* background-image: url('courseListimg.PNG');
    background-repeat: no-repeat;
    background-size: cover; */
    

}
.videoDiv{
    height:40vw;
    
    background-image: url('videoimg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    

    

}
.DescDiv{
    
    width: 100%;
    height: calc(100% - 40vw);
    /* border: 2px solid brown; */
    background-color: yellow;

    /* background-image: url('descImg.PNG');
    background-repeat: no-repeat;
    background-size: contain; */
   

}


/* ------------------------------------------------------CSS for course---------------------------------------------------------------- */

/* .courses{
    
    height: 100%; 
    
} */
.courseDiv{
    height: 60px;
    width: 100%;
    background-color: aqua;
    /* border: 1px solid black; */
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    box-sizing: border-box;
}

/* .courseDiv h2{
    align-self: center;
    justify-self: center;
} */












@media(max-width:1000px){
    .container{
        flex-direction: column-reverse;   
    }
    .right{
        height:60vw ;
        /* min-height: 35vh; */
        width: 100vw;
    }
    .DescDiv{
        display: none;
    }
    .videoDiv{
        height: 100%;       
    }
    .left{
        height: calc(100% - 60vw);
        width: 100vw;    
    }
}