*{
    padding: 0;
    margin: 0;
}

.bparent{
   height: 100vh;
    display: flex;
    flex-wrap: wrap;

}
.cparent{
    
    width: 75vw;
    display: flex;
    
    flex-direction: column;
   
}
.courseList{
    
    width: 25vw;
    /* border: 2px solid blue; */
    background-color: green;
    /* background-image: url('courseListimg.PNG');
    background-repeat: no-repeat;
    background-size: cover; */
    

}
.videoDiv{
    height:40vw;
    
    background-image: url('videoimg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    

    

}
.DescDiv{
    
    width: 100%;
    height: calc(100% - 40vw);
    /* border: 2px solid brown; */
    background-color: yellow;

    /* background-image: url('descImg.PNG');
    background-repeat: no-repeat;
    background-size: contain; */
   

}

@media(max-width:1000px){
    .bparent{
        flex-direction: column-reverse;   
    }
    .cparent{
        height:60vw ;
        /* min-height: 35vh; */
        width: 100vw;
    }
    .DescDiv{
        display: none;
    }
    .videoDiv{
        height: 100%;         
    }
    .courseList{
        height: calc(100% - 60vw);
        width: 100vw;    
    }
}